@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900&display=swap);

:root {
	--main-color: #FFED00;
}

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Outfit', sans-serif;
	color: #fff;
	font-size: 1rem;
	background-color: #000;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.5s;
}

li {
	list-style: none;
}
main {
	height: 100%;
	overflow: hidden;
}

button {
	outline: none;
	background-color: transparent;
	box-shadow: none;
	border: none;
}

/* ============common elements============================= */
.container {
	max-width: 1340px;
	padding: 0 15px;
	margin: 0 auto;
}

.logo {
	display: inline-block;
	max-width: 100px;
	height: 76px;
}

.logo img {
	width: 100%;
}

.btn {
	background-color: var(--main-color);
	padding: 14px 46px;
	font-weight: 600;
	font-size: 1.25rem; /* 20/16 */
	border-radius: 20px;
	border: 1px solid var(--main-color);
	transition: 0.5s;
	cursor: pointer;
}
.btn:hover {
	background-color: inherit;
	color: #fff;
}
.title {
	color: var(--main-color);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.75rem; /* 28/16 */
}
/* =============header========================= */
.header {
	position: fixed;
	padding: 20px 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background-color: inherit;
}
.header__wrapper {
	display: flex;
	column-gap: 3vw;
	align-items: center;
	justify-content: space-between;
}
.header-contact a {
	display: block;
	margin-bottom: 10px;
	line-height: 0.8;
	white-space: nowrap;
}
.header__contact {
	padding-left: 15px;
	border-left: 1px solid var(--main-color);
	font-size: 1.25rem;
}

.header__contact-mobile {
	margin-top: 20px;
	border-top: 1px solid var(--main-color);
	padding-top: 20px;
	font-size: 1.5rem;
}
.header__contact-mobile a {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.header__schedule-time {
	padding-left: 20px;
}
.header__schedule {
	position: relative;

}
.header__schedule > p {
	font-weight: 600;
	color: var(--main-color);
}

.header__schedule:hover>p {
	color: var(--main-color);
}

.navbar {
	font-size: 1.15rem;
	flex: 1 1 auto;
}
.navbar__list {
	display: flex;
	justify-content: flex-end;
	column-gap: 2rem;
}
.navbar__link {
	position: relative;
}
.navbar__link:hover {
	color: var(--main-color);
}
.navbar__link::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -3px;
	width: 0%;
	height: 1px;
	background-color: var(--main-color);
	transition: all 0.5s ease-in-out;
	transform: translateX(-50%);

}

.navbar__link:hover::after {
	width: 100%;
}
.icon-menu {
	display: none;
}

/* ==================hero================================ */
.hero {
	padding-top: 150px;
}
.hero__inner {
	display: flex;
	gap: clamp(20px, 2.5vw, 80px);
	align-items: center;
}
.hero__content {
	padding: 20px 0;
}
.hero__title {
	/* font-size: 5rem; */
	font-size: clamp(2rem, 5vw, 5rem); 
	font-weight: 100;
	margin-bottom: 2rem;
}
.hero__title span {
	text-transform: uppercase;
	font-weight: bold;
}
.hero__text {
	font-size: 1.125rem; /* 18/16 */
	margin-bottom: 40px;
}
.hero__image {
	flex: 0 0 50%;
}
.hero__image img {
	width: 100%;
}
/* ===============about us==================================== */
.aboutus {
	padding: 80px 0;
}

/* ===================media====================================== */
@media (max-width: 991.98px) {
	.header__contact {
		flex: 1 1 auto;
		border-left: none;
		border-right: 1px solid var(--main-color);
		padding-left: 0;
		padding-right: 15px;
		text-align: right;
	}
	.icon-menu {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 5;
	}
	.icon-menu span {
		right: 0;
		position: absolute;
		width: 70%;
		height: 2px;
		background-color: var(--main-color);
		top: calc(50% - 1px);
	}
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: var(--main-color);
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.menu-body {
		position: absolute;
		top: 0;
		right: -100%;
		width: 50%;
		height: 100vh;
		background-color: #000;
		overflow: auto;
		transition: .5s ease;
		margin-top: 100px;
		padding-top: 50px;
		padding-bottom: 20px;
		padding-left: 20vw;
		padding-right: 10px;
		border-left: 1px solid var(--main-color);
		z-index: -1;
	}
	.navbar__list {
		flex-direction: column;
		gap: 2rem;
	}
	.navbar__link {
		font-size: 1.5rem;
		font-weight: 700;
	}
	.menu-open .menu-body {
		right: 0;
	}
	.menu-open .icon-menu span {
		width: 0;
	}
	.menu-open .icon-menu::after {
		bottom: calc(50% - 1px);
		transform: rotate(45deg);
	}
	.menu-open .icon-menu::before {
		top: calc(50% - 1px);
		transform: rotate(-45deg);
	}
}
@media (max-width: 767.98px){
	.header__contact {
		display: none;
	}
	.menu-body {
		width: 100%;
		padding: 20px;
	}
	.hero__inner {
		display: block;
		position: relative;
		margin: 0 -15px;
		background-color: #000;
	}
	.hero__content {
		position: relative;
		z-index: 2;
		padding: 15px;
	}
	.hero__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.hero__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.7;

	}
}
@media (min-width: 767.98px){
	.header__contact-mobile {
		display: none;
	}
	.header__schedule > p {
		line-height: 1;
		cursor: pointer;
		transition: color 0.5s;
		color: #fff;
	}
	
	.header__schedule-time {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		right: 0;
		bottom: -90px;
		background-color: #EDEDED;
		color: #1E1F20;
		text-align: left;
		padding: 0.5rem;
		border-radius: 5px;
		transition: .7s;
		white-space: nowrap;
	}
	
	.header__schedule-time::after {
		content: '';
		position: absolute;
		top: -19px;
		right: 20px;
		border: 10px solid transparent;
		border-bottom: 10px solid #EDEDED;
	}

	.header__schedule-time p {
		font-weight: 700;
	}

	.header__schedule:hover .header__schedule-time {
		opacity: 1;
		visibility: visible;
	}
}
